// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-aqua {
    background-color: #f4f8fc;
}

.bg-greeny {
    background-color: #fafcf8;
}

.pizza-item {
    // width: 240px;
    // height: 240px;
    transition: box-shadow .1s;
    border-radius: 10px;
    &:hover {
        box-shadow: 0 0 5px rgba(33, 33, 33, .2); 
    }
}

.modal.fade.show {
    display: block;
    background-color: rgba(33, 33, 33, .3);
}

.w-340 {
    min-width: 340px;
    @include media-breakpoint-down(md) {
        min-width: auto;
        max-width: 240px;
        max-height: 240px;
    }
}
